.headerContainer {
  position: relative;
  z-index: 100;
}

.blueTheme {
  .header {
    background: #33bbe9;
    border-color: #ffe698;
  }

  .content {
    div:nth-child(1) {
      color: #ffe698;
    }

    div:nth-child(2) {
      color: #ffe698;
    }

    div:nth-child(3) {
      color: #e1017e;
    }
  }
}

.pinkTheme {
  .header {
    background: #e1017e;
    border-color: #ffe698;

    box-shadow: 2px -4px 26px 0px rgb(68, 13, 45);
  }

  .plusSigns {
    color: #a18ee7;
  }

  .content {
    div:nth-child(1) {
      color: #ffe698;
    }

    div:nth-child(2) {
      color: #ffe698;
    }

    div:nth-child(3) {
      color: #33bbe9;
    }
  }
}

.plusSigns {
  color: #584a9a;
  position: absolute;
  top: 0;
  left: 20px;
  line-height: 1.2;
  width: 150px;
  height: 300px;
  font-size: 45px;
  letter-spacing: 10px;
  user-select: none;
}

.header {
  position: absolute;
  background: #ffe698;
  top: 0;
  right: 0;
  padding: 10px 30px 30px 30px;

  border: 2px dashed #e1017e;
  border-top: none;
  box-shadow: 2px -4px 26px 0px rgb(225 1 126);
}

.headerLink {
  -webkit-tap-highlight-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  line-height: 1;

  div:nth-child(1) {
    font-size: 53px;
    color: #e1017e;
  }

  div:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
    color: #e1017e;
  }

  div:nth-child(3) {
    margin-top: 8px;
    font-size: 26px;
    color: #33bbe9;
  }
}

@media screen and (max-width: 768px) {
  .header {
    border-right: none;
  }
}
