.header {
  background: linear-gradient(
      180deg,
      rgb(154, 0, 86) 0%,
      #e1017e 50%,
      #9186af 100%
  );

  padding: 250px 0 30px;

  color: #fff;
  text-align: center;
  font-size: 38px;
}

.form {
  background: #ffe698;
  padding: 20px;
}
