.vestImageContainer::after {
    position: absolute;

    $offset: 7px;
    top: $offset;
    right: -$offset;
    bottom: -$offset;
    left: $offset;

    background: #ffe698;
    content: "";
    z-index: 1;
}

.vestImage {
    z-index: 2;
}

.infoBox {
    position: relative;
    color: white;
    background: linear-gradient(90deg, rgb(43, 155, 190) 0%, rgb(187, 4, 106) 100%);

    z-index: 20;
}

.infoBoxContents {
    background: linear-gradient(90deg, rgb(43, 155, 190) 0%, rgb(187, 4, 106) 100%);
    z-index: 20;
    padding: 30px 15px 20px;
}

.infoBoxBackground{
    position: absolute;

    $offset: 7px;
    top: $offset;
    right: -$offset;
    bottom: -$offset;
    left: $offset;

    background: #ffe698;
    content: "";
    z-index: -1;
}

.infoBoxNumber {
    position: absolute;
    top: -20px;
    line-height: 1;
    left: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #ffe698;
}
