.header {
  background: linear-gradient(
      180deg,
      rgb(154, 0, 86) 0%,
      #e1017e 50%,
      #9186af 100%
  );

  padding: 250px 0 30px;

  color: #fff;
  text-align: center;
  font-size: 38px;
}

.backArrow {
  line-height: 1;
  margin-bottom: 15px;
  color: rgba(88, 74, 154, 0.7);
  font-size: 14px;
}

.form {
  background: linear-gradient(180deg, #ffe698 0%, #fff 20%, #fff 90%, #ffe698 100%);
  padding: 20px 20px 100px 20px;
}
