.decorationImageContainer::after {
    position: absolute;

    $offset: 7px;
    top: $offset;
    right: -$offset;
    bottom: -$offset;
    left: $offset;

    background: #524590;
    content: "";
    z-index: 1;
}

.decorationImage {
    z-index: 2;
}
